table.zaznamy {
    color: black;
    border: solid lightgray 1px;
    /*width: 100%;*/
    background-color: rgb(200, 200, 200);
    font-size: .9em;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    /*line-height:150%;*/
/*    padding:3px;
    margin: 5px;*/
}

table.zaznamy th,td {
    padding-left: 1px;
    padding-right: 1px;
}


.zaznamy .identifikator {
    padding-left: 2px;
    padding-right: 2px;
}

.zaznamy .jmeno {
    font-size: 110%;
    color: black;
    padding-left: 8px;
    padding-right:8px;
}

/*#zaznamy .editace td {
    background-color: #FFFF99;
}

#zaznamy .novy td {
    background-color: #99FFFF;
}

#zaznamy .uzavreny td {
    background-color: #999999;
}*/

.zaznamy a {
    font-weight: bold;
    text-decoration: none;
    border: 5px;
    border-style: outset;
    border-radius: 3px;
    padding: 2px;
}

.zaznamy .edit a {
    color: blue;
    background-color: #99FFFF;
    border-color: #99FFFF;
}

.zaznamy .edit a:hover {
    background-color: #77DDDD;
}

.zaznamy .new a {
    color: red;
    background-color: #FFFF99;
    border-color: #FFFF99;
}

.zaznamy .new a:hover {
    background-color: #DDDD77;
}

.zaznamy .print a {
    color: lightgreen;
    background-color: #999999;
    border-color: #999999;
}

.zaznamy .print a:hover {
    background-color: #777777;
}

.zaznamy .disabled a {
    color: cadetblue;
    background-color: #dadada;
    border-color: #dadada;
}

.zaznamy .disabled a:hover {
    background-color: #dadada;
}

.zaznamy a:active {
    border-style: inset;
}

.zaznamy .disabled a:active {
    border-style: outset;
}

.signal {
    text-decoration: none;
    text-align: center;
    border: 3px;
    border-style: solid;
    border-radius: 10px;
}
.signal-registration-ok {
    color: darkgreen;
    background-color: yellowgreen;
    border-color: darkgreen;
}
.signal-registration-error {
    color: black;
    background-color: lightsalmon;
    border-color: red;
}
.signal-none {
    color: grey;
    background-color: lightgrey;
    border-color: grey;
}
.signal-plan {
    color: maroon;
    background-color: yellow;
    border-color: maroon;
}
.signal-ukonceni {
    color: maroon;
    background-color: burlywood;
    border-color: maroon;
}
.signal-dokonceno {
    color: chocolate;
    background-color: yellowgreen;
    border-color: chocolate;
}
.signal-uspesne {
    color: darkgreen;
    background-color: yellowgreen;
    border-color: darkgreen;
}
.signal-neuspesne {
    color: darkred;
    background-color: orange;
    border-color: red;
}
.signal-certifikat {
    color: darkgreen;
    background-color: lightgreen;
    border-color: darkgreen;
}
.signal-nezamestnan {
    color: grey;
    background-color: lightgrey;
    border-color: red;
}
.signal-zamestnan {
    color: darkgreen;
    background-color: lightgreen;
    border-color: darkgreen;
}
.signal-navazujici {
    color: darkgreen;
    background-color: lightgreen;
    border-color: darkgreen;
}
.signal-supm {
    color: darkgreen;
    background-color: lightgreen;
    border-color: lightblue;
}
.signal-novemisto {
    color: darkgreen;
    background-color: lightgreen;
    border-color: lightyellow;
}